body {
	background: rgba(73, 66, 173, 0.78);
	user-select: none;
    font-family: 'Verdana';
}

h1 {
	margin: 0 0 0.2em 0;
	color: white;
	font-size: 5em;
	text-shadow: 5px 8px 3px #333;
}

#app {
	text-align: center;
}

#board {
	margin: 0 auto;
	width: 50em;
	border: 6px solid  rgba(0, 0, 30, 0.78);
	box-shadow: 20px 20px 8px rgba(0, 0, 30, 0.88),
							-10px -10px 8px rgba(0, 0, 30, 0.88);
}

.square {
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    background: rgba(0, 25, 128, 0.61);
    padding: 4em;
	border: 6px solid  rgba(0, 0, 30, 0.78);
	content: '';
	flex: 1;
}

.square:after
{
    content: '.';
    visibility: hidden;
}

.square:hover {
    background: rgba(17, 11, 11, 0.85);
}

.row {
	display: flex;
}

.active {
	background: #4181b2;
}

#status {
	font-size: 2em;
	margin-top: 0.3em;
	font-weight: bolder;
	color: white;
	letter-spacing: -5px;
	text-shadow: 5px 8px 3px #333;
}

#play_game  {
    color: #BADA55;
    padding: 8px 15px;
    font-size: 24px;
    background: transparent;
    font-family: cursive;
    overflow: hidden;
    border-color: transparent;
    font-weight: 400;
    cursor: pointer;
    transition: all .5s cubic-bezier(.02,.01,.47,1);
    outline: none;
}

#play_game:hover {
    color: #00e0ba;
    border-color: transparent;
    border-bottom: 1px solid #1ba74f;
}
